{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/tailwind.out.css' %}" />
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"
      integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.11.1/dist/cdn.min.js"
      defer
    ></script>
    <title>Django & HTMX</title>
  </head>
  <body>
    <h1>Hello World!</h1>
    <div data-heading="{}" hx-boost="true">
      <p>{% lorem 2 %}</p>
      <a
        href="{% url 'about' %}"
        class="text-blue-500 hover:text-purple-300 underline cursor-pointer"
        hx-target="div[data-heading]"
        hx-swap="innerHTML transition:true"
      >About Us</a>
    </div>
    <hr />
    <h3>Our products</h3>
    <table id="product-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>101</td>
          <td>Product A</td>
        </tr>
        <tr>
          <td>102</td>
          <td>Product B</td>
        </tr>
        <tr>
          <td>103</td>
          <td>Product C</td>
        </tr>
      </tbody>
    </table>
    <button
      class="btn"
      hx-get="{% url "products" %}"
      hx-target="#product-table > tbody"
      hx-swap="beforeend transition:true"
    >Get more</button>
    <form
      x-data="{product:''}"
      hx-post="{% url 'index' %}"
      hx-target="#product-table > tbody"
      hx-swap="beforeend transition:true"
      @htmx:after-request="product=''"
      class="mt-4 p-6 border border-l-gray-400 rounded-lg w-1/2"
    >
      {% csrf_token %}
      <label for="product">Product:</label>
      <input
        type="text"
        id="product"
        name="product"
        class="border"
        x-model="product"
      />
      <input type="submit" value="Add Product" class="m-4 btn" />
    </form>
  </body>
</html>
