{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/tailwind.out.css' %}" />
        <script
            src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.js"
            integrity="sha384-Q+Dky3iHVJOr6wUjQ4ulh6uQ76an/t+ak1+PjMVaxRjbZamFLAG+u9InkfjbsEQf"
            crossorigin="anonymous"
        ></script>
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
        ></script>
        <title>Document</title>
    </head>
    <body>
        {% include 'navbar.html' %}
        {% block content %}{% endblock %}
    </body>
</html>
