{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/tailwind.out.css' %}" />
        <script
            src="https://cdn.jsdelivr.net/npm/htmx.org@4.0.0-beta6"
            integrity="sha384-6lyVbhrs13b9z7mLOpt/N6R76rtkEBWgCjAXRs/DSWyi2AMnQSs10ijWk+PI8n7W"
            crossorigin="anonymous"
        ></script>
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
        ></script>
        <title>Document</title>
    </head>
    <body>
        {% include 'navbar.html' %}
        {% block content %}{% endblock %}
    </body>
</html>
