{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/tailwind.out.css' %}" />
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
        ></script>
        <script defer src="https://unpkg.com/htmx.org@2.0.4"></script>
        <title>Document</title>
    </head>
    <body>
        {% include 'navbar.html' %}
        {% block content %}{% endblock %}
    </body>
</html>
