{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description" content="polling project" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/tailwind.out.css' %}" />
        <script defer src="{% static 'js/vendor/htmx.min.js' %}"></script>
        <script defer src="{% static 'js/vendor/alpine.min.js' %}"></script>
        <title>Document</title>
    </head>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>
